node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.vscode
.idea
data
Dockerfile
docker-compose.yml
.dockerignore
.output
build
dist

# allow dependency files
!package.json
!pnpm-lock.yaml